.card
{
   
    margin: 20px;
    background-color:lightgray;
    table
    {
        width: 90%;
        height: 100%;
        border-collapse: collapse;
    }
    img
    {
        height: 300px;
        width: 170px;
        margin-left: 400px;
    }
    .head
    {
        margin-left: 380px;    
        font-size:50px;

    }
    .top
    {
        margin-left: 400px;
    }
    .dew
    {
        margin-left: 420px;
    }

}